* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Nunito', sans-serif;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    width: 50%;
    height: 55vh;
    display: flex;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
  }
  
  .login-section, .registration-section {
    flex: 1;
  }
  
  .login-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    background-color: rgba(211, 211, 211, 0.132);
  }
  
  .login-section header {
    margin-left: 25px;
  }
  
  .login-section p {
    margin-left: 25px;
  }
  
  .login-section button {
    height: 2rem;
    width: 5rem;
    margin-left: 25px;
    background-color: aqua;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 17px;
  }
  
  .registration-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
  }
  
  .name-container {
    display: flex;
    gap: 10px;
  }
  
  .name {
    flex: 1;
  }
  
  .name input {
    width: 100%;
  }
  
  .name-container, .email, .password, .checkbox, .register-button {
    flex: 1;
  }
  
  .register-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }
  
  .register-button button {
    height: 2rem;
    width: 7rem;
    background-color: aqua;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
  }
  
  header img {
    height: 60px;
    width: auto;
    background-color: lightgray;
  }
  
  .checkbox {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  
  .email-input {
    width: 100%;
  }
  
  .password-input {
    width: 100%;
  }