* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
}

.container {
    height: 100vh;
    width: 100vw;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 0px;
    margin-top: 300px;
    margin-bottom: 300px;
    box-shadow: 0 4px 0px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

.login-section {
    width: 350px;
    height: 250px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(211, 211, 211, 0.146);
}

#login, #submit {
    width: 50px;
}

.register-section {
    width: 400px;
    height: 250px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.name {
    display: flex;
    gap: 15px;
}

.stretchinput {
    display: flex;
}

.stretchinput input{
    flex: 1;
}

.name .card {
    flex: 1;
}

.email-card-container {
    display: flex;
}

.email-bar {
    flex-direction: row;
    flex: 1;
}

.checkbox {
    display: flex;
    gap: 5px;
}

#login {
    background-color: aquamarine;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    width: 100px;
    color: white;
}

#submit {
    background-color: aquamarine;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    width: 100px;
    color: white;
    gap: 20px;
}

img {
    height: 75px;
    background-color: rgba(211, 211, 211, 0.146);
}